$navbar-background-color: #0D2244;
$navbar-item-hover-background-color: #0D2244;

@import "bulma";

h1,h2,h3,h4,h5,h6 { font-family: 'Roboto', sans-serif; }
p { font-family: 'Open Sans', sans-serif; }

.navbar {
  .subtitle {
    color: white;
  }
  svg { width: 30px; }
}

.table { margin-top: 0; }

table.organizations { width: 100%; }

.organizations {
  tbody tr:not(.latest) {
      display: none;
  }
}
.expand { margin-top: auto; }


